.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-color);
  height: 4rem;
  width: 100%;
  z-index: 1000;
  position: fixed;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-cart-user-hamburger {
  width: var(--min-width-800px);
  display: flex;
  justify-content: space-between;
}

.cart-user-hamburger {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  text-decoration: none;
}

.user-link {
  font-size: 1.1rem;
  font-weight: 600;
}

.cart-link {
  font-size: 1.5rem;
}

.hamburger-link {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.drop-down-menu {
  position: absolute;
  top: 4rem;
  left: 0rem;
  background-color: var(--base-color);
  width: 0;
  height: 0;
  overflow-y: hidden;
  transition: all 0.7s ease;
}

.show-links {
  /* width: 100%; */
  /* height: 12rem; */
}

.drop-down-link {
  display: block;
  padding: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.drop-down-link:hover {
  background-color: var(--base-color-light);
  padding-left: 0.8rem;
}


@media screen and (min-width: 800px) {
  .navbar {
    /* justify-content: center; */
    padding: 0 1.0rem;
  }

  .navbar-container {
    width: 96%;
    /* justify-content: center; */
  }
  
  .logo-cart-user-hamburger {
    width: 60%;
  }

  .cart-user-hamburger {
    width: 35%;
  }

  .hamburger-link {
    display: none;
  }

  .drop-down-menu {
    position: static;
    display: flex;
    justify-content: right;
    /* width: 50%; */
    height: 4rem;
    overflow-y: visible;
    transition: none;
  }

  .drop-down-link {
    margin-right: 2.0rem;
    padding-left: unset;
  }

  .drop-down-link:hover {
    background-color: unset;
    padding-left: unset;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
  }
}